<!DOCTYPE html>
<html ng-app="todoApp">

<head>
<script src="packages/angular/angular.js"></script>
<link href="packages/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="packages/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

<script src="modules/todoApp.js"></script>
<script src="controllers/mainController.js"></script>
<script src="filters/customFilters.js"></script>
<script src="controllers/adminController.js"></script>
</head>

<title>Todo App</title>

<body ng-controller="MainController">

	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">Todo Administration</a>
		<a class="pull-right navbar-brand" href="/todos.html">User Todo's</a>
	</div>
	
	<div class="panel panel-default row" ng-controller="AdminController">
		<div class="col-xs-2">
			<a ng-click="selectUser( )" class="btn btn-block btn-default btn-md">All Users</a>
			<a ng-repeat="user in todos | orderBy: userNameSorter | unique:'userName'" ng-click="selectUser(user)"
			   class="btn btn-block btn-default btn-md" ng-class="getUserClass(user)">
			   {{user}}
			</a>
		</div>
		<div class="col-xs-8">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>User Name</th>
						<th>What to Do</th>
						<th>Completed</th>
					</tr>
					<tbody>
						<tr ng-repeat="todo in todos | orderBy: userNameSorter | filter:userFilterFn | range:selectedPage:pageSize">
							<td>{{todo.userName}}</td>
							<td>{{todo.whatToDo}}</td>
							<td><button ng-class="getCompletedClass(todo.completed)"></button></td>
							<td><button class="btn btn-danger" ng-click="deleteTodo(todo.userName, todo.id)">Delete</button></td>
						</tr>
					</tbody>
				</thead>
			</table>
			<div class="pull-right btn-group">
				<a ng-repeat="page in todos | filter:userFilterFn | pageCount:pageSize"
					ng-click="selectPage($index + 1)" class="btn btn-default"
					ng-class="getPageClass($index + 1)"> {{$index + 1}} </a>
			</div>
		</div>
	</div>

</body>

</html>
