<!DOCTYPE html>
<html ng-app="todoApp">

<head>
<script src="packages/angular/angular.js"></script>
<link href="packages/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="filters/customFilters.js"></script>
<link href="packages/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

<script src="modules/todoApp.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/userController.js"></script>
</head>

<title>Todo App</title>

<body ng-controller="MainController">

	<div class="container-fluid" ng-controller="UserController">
		<div class="row">
			<div class="col-sm-4">
				<div class="input_group">
					<p>Enter the UserName</p>
					<input class="form-control" style="width: 400px;"
						ng-model="userName" /> <span class="input-group-btn">
						<button class="btn btn-default" ng-click="enterUser(userName)">Enter</button>
					</span>
				</div>
			</div>
		</div>
		<div class="row" ng-hide=user=="">
			<div class="col-sm-4">
				<div class="page-header">
					<h1>
						{{user}}'s To Do List <span class="label label-default"
							ng-class="warningLevel()" ng-hide="incompleteCount() == 0">
							{{incompleteCount( )}} </span>
					</h1>
				</div>
			</div>
		</div>
		<div class="row" ng-hide=user=="">
			<div class="col-sm-4">
				<div class="input-group">
					<input class="form-control" ng-model="whatToDo" /> <span
						class="input-group-btn">
						<button class="btn btn-default" ng-click="addNewTodo(whatToDo)">Add</button>
					</span>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Description</th>
							<th>Completed</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="todo in todos">
							<td>{{todo.whatToDo}}</td>
							<td><input type="checkbox" ng-model="todo.completed"
								ng-click="updateTodo(todo)" /></td>
							<td><button class="btn btn-danger" ng-click="deleteTodo(todo.id)">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>
