<!DOCTYPE html>
<html ng-app="todoApp">

<head>
<script src="packages/angular/angular.js"></script>
<link href="packages/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="filters/customFilters.js"></script>
<link href="packages/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

<script src="modules/todoApp.js"></script>
<script src="controllers/mainController.js"></script>
<script src="controllers/userController.js"></script>
</head>

<title>Todo App</title>

<body ng-controller="MainController">
	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">To Do List</a>
		<a class="pull-right navbar-brand" href="/adminTodos.html">Admin</a>
	</div>
	
	<div class="container-fluid" ng-controller="UserController">
		<div class="row">
			<div class="col-sm-4">
				<div class="input_group">
					<p>Enter the UserName</p>
					<input class="form-control" style="width: 400px;" ng-model="userName" /> 
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="enterUser(userName)">Enter</button>
					</span>
				</div>
			</div>
		</div>
		<ng-include src="'/views/userTodo.html'" ng-hide="user==null || user==''"></ng-include>
	</div>
</body>

</html>
